<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="myFirstEntity">
            <h2><span jhiTranslate="jhipsterApp.myFirstEntity.detail.title">My First Entity</span> {{ myFirstEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.myFirstEntity.stringField">String Field</span></dt>
                <dd>
                    <span>{{ myFirstEntity.stringField }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.myFirstEntity.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{ myFirstEntity.dateCreated }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.myFirstEntity.someNumber">Some Number</span></dt>
                <dd>
                    <span>{{ myFirstEntity.someNumber }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>
        </div>
    </div>
</div>
